

/* Customize body#wide */


body#wide {
  width:100%;
  margin-top:0px;
  margin-bottom:30px;
}

body#wide .container, body#wide .container-fluid{
	min-width: 100%;
	background-color:transparent;
	padding:0px;
}

body#wide .row{
	margin:0 auto;
	padding:10px;
	border-radius: 0px;
	background-color:#fff;
}
body#wide .padding {
	padding:10px;
}
body#wide p.white{
 	margin-bottom:0px;

 }
body#wide .post-title{
 	height:0px;
 }
body#wide #wide-header.row  {
	padding:10px;
   border-radius: 0px;
   height:350px;
}
body#wide .img-header{
	margin-left: 25%;
    width: 50%;
}

body#wide .page-header {
    margin: 20px 0px 20px;
    border:none;
}

body#wide .col-lg-12{
	margin-left: 20%;
    width: 60%;
    padding-bottom:10px;
}
@media screen and (max-width: 768px) {
	body#wide .col-lg-12{
	margin-left: 0px;
    width: 100%;
}
body#wide .img-header{
	margin-left: 0px;
    width: 100%;
}
}



