

/* Customize body#default */

@import url(http://fonts.googleapis.com/css?family=Exo:200);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);


body {
  margin-top:10px;
  margin-bottom:30px;
  background-color:#F5F5F5;
  color:#363947;
}

.container,.container-fluid{
	max-width: 920px;
	background-color:transparent;
	padding:10px 20px;
	border-radius: 5px;
}

.row{
	padding:10px;
	border-radius: 6px;
	background-color:#fff;
}
.padding {
	padding:10px;
}
.page-header {
    margin: 20px 0px 10px;
    border:none;
}
 
 a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:focus {
    text-decoration: none;
}

.lead {
 	font-family:  sans-serif;
 	font-weight: none;
}
 
 p.white{
 	margin-bottom:1500px;

 }

 .post-title{
 	height:30px;
 }
 .img-header{
 		border-radius: 5px;
 		max-width:100%;
 }
 
 .post-text img{
 	display:block;
	margin-left: auto;
	margin-right: auto;
 }
 
 
h1{
	margin-top:5px;
	margin-bottom:15px;
	font-size:2.4em;
	padding:5px;
}
h2{
	font-size:26px;
	margin-top:10px;
}
h3{
	margin-top:10px;
}

.nowprinting{
	display:block;
	margin-bottom:10px;
	min-height:340px;
	text-align:center;
	border:#eee solid 1px;
	border-radius:5px;

}

.member-list {
    display: block;
    padding: 0px;
    margin-bottom: 5px;
    line-height: 1.42857;
    background-color: transparent;
    border: none;
    text-align:center;
    transition: all 0.2s ease-in-out 0s;
}
.member-list img {
    transition: all 0.2s ease-in-out 0s;
}
.member-list h3 {
    font-size:1.5em;
}
.member-list .caption {
    padding: 3px;
}



.info-scroll{
	overflow: auto;
	max-height:60px;
	font-size:0.9em;
	padding:5px;
	border-radius: 2px;
}

#footer {
  border-top: 1px solid #eee;
  margin-top: 10px;
  font-size:0.8em;
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 20px;
}


.pagetop {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 55px;
}
.pagetop a#pagetopscroll {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #1A557C;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	line-height: 50px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
}

.nav-justified {
  position:relative;
  margin-top:10px;
  background-color: transparent;
  border-radius: 8px;
  border: 0px solid #fff;
    margin-bottom:20px;
}


.nav-justified > li > a {
  font-size:1.8em;
  padding-top: 4px;
  margin-right:0px;
  padding-bottom: 3px;
  color: #4F4F4F;
  text-align: center;
  border-bottom: 0px solid #fff;
  background-color: transparent; /* Old browsers */
 
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: none;

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}





